.App {
  text-align: center;
}
.component1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.component1 > h2,
button {
  font-size: 6vw;
  margin-left: 5%;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}
button{
 
  background-color: aqua;
}

button:hover{
  background-color: rgb(49, 110, 110);
}
h1{
  font-size: 3vw;
}

/* h1{
  animation: App-logo-spin infinite 1s linear ;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
} */
